.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 1px;
  padding: 15px;
  margin-bottom: 20px;
}

.label__name {
  margin-bottom: 10px;
  font-weight: bold;
  font-style: italic;
}

.label__number {
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
}

.input__name {
  margin-left: 15px;
}

.input__number {
  margin-left: 15px;
}

.btn__add {
  border-radius: 15px;
  font-size: large;
  padding: 5px 15px;
}
